<div class="col-8">
    <form action="https://matthewcrews.podia.com/email_lists/292490/subscriptions" accept-charset="UTF-8" method="post">
        <div class="call">
            <div class="call-box-top">
                <div class="call-email">
                    <input type="email" name="email" required="required" placeholder="Your email address..." style="width: 100%; height: 40px"/>
                </div>
              </div>
            <div class="call-box-bottom">
            <input class="button" type="submit" value="Sign me up!" />
            </div>
        </div>
    </form>
</div>
    